<form action="/payment-handler" method="post">
    <script src="https://dev.shift4.com/checkout.js"
            class="shift4-button"
            data-key="pk_test_z7bbbHGPMp8XLGWbTHI9UAuO"
            data-checkout-request="ZWVjYWEwYWZlYjM2Zjg0YjQ5MjJmNzM5NTliZTFlODI0ZGM5YzdkNDUwYjdmNjdjZjcyMGRkNWQ2MTgzZDUzZHx7ImNoYXJnZSI6eyJhbW91bnQiOjQ5OSwiY3VycmVuY3kiOiJVU0QifX0="
            data-name="Shift4"
            data-description="Checkout example"
            data-checkout-button="Payment button">
    </script>
</form>